@charset "utf-8";

/* XC1 Custom Admin */

/* Login */
div#login form { background:transparent url('../images/admin/login.jpg') center top no-repeat; padding-top:100px; }
div#login form { -moz-border-radius: 11px; -khtml-border-radius: 0; -webkit-border-radius: 11px; border-radius: 11px; border: none; -moz-box-shadow:none; -webkit-box-shadow: none; -khtml-box-shadow: none; box-shadow: none;}
div#login h1 { display:none; }

/* Admin */
body div#wpwrap {}
body div#wpwrap div#wphead  { background: url('../images/admin/header-back.jpg') repeat-x 0px 0px; height:110px; margin: 0px 0px -10px 0px; border-bottom: 0px;}
body div#wpwrap div#wphead img { display: none; }
body div#wpwrap div#wphead h1#site-heading { margin: 0px 0px -10px 0px; padding: 0px; position: absolute; top: 0px; left: 0px; 	}
body div#wpwrap div#wphead h1#site-heading a { background: url('../images/admin/header.jpg') no-repeat top left; height: 110px; width: 550px; display: block; text-indent: -2000px; overflow: hidden; position: absolute; }
body div#wpwrap #wphead-info { color:#000;}

body div#wpwrap div#wpcontent { margin: 0px; padding: 130px 0px 0px 0px; }
body div#wpwrap div#wpbody { margin-left: 160px; }

body div#wpwrap div#footer { margin: 0px; box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.5); -webkit-box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.5); background: #333; color: #999; padding: 10px; }
body div#wpwrap div#footer a { color: #ccc !important; }
body div#wpwrap div#footer a:hover { color: #f1f1f1 !important; }

body div#wpwrap div#adminmenuwrap { margin: 110px 0px 70px 0px; }

/* Folded menu */
body.folded div#wpwrap div#wphead { background-position: 0px 0px; }
body.folded div#wpwrap div#wphead h1#site-heading a { background-position: -113px 0px; }

body.folded div#wpwrap div#adminmenuwrap ul#adminmenu { padding: 0px 0px 0px 0px; }

body.folded div#wpwrap div#wpcontent { margin: 0px; }
body.folded div#wpwrap div#wpcontent div#wpbody { margin-left: 47px; }

/* Admin-bar */
body.admin-bar div#wpwrap div#wphead { background-position: 0px 28px; }
body.admin-bar div#wpwrap div#wphead h1#site-heading { top: 28px; }
body.admin-bar div#wpwrap div#wphead h1#site-heading a { background-position: 0px 0px; }
body.admin-bar div#wpwrap div#adminmenuwrap { margin: 138px 0px 70px 0px; }
body.admin-bar div#wpwrap div#adminmenuwrap ul#adminmenu { padding: 0px 0px 0px 0px; }

/* Admin-bar & Folded menu */
body.admin-bar.folded div#wpwrap div#wphead { background-position: 0px 28px; }
body.admin-bar.folded div#wpwrap div#wphead h1#site-heading a { background-position: -113px 0px; }
body.admin-bar.folded div#wpwrap div#adminmenuwrap { margin: 138px 0px 70px 0px; }
body.admin-bar.folded div#wpwrap div#adminmenuwrap ul#adminmenu { padding: 0px 0px 0px 0px; }



#wpadminbar { background: url('../images/admin/header-back.png') repeat-x 0px 0px; height:138px; margin: 0px 0px -10px 0px; border-bottom: 0px; }
#wpadminbar:after { background: url('../images/admin/header.png') no-repeat top left; height: 110px; width: 550px; display: block; content: "."; text-indent: -2000px; overflow: hidden; position: fixed; top: 28px; left: 0px; }
#TB_window { margin-top: 52px !important; }

#wp-admin-bar-wp-logo > .ab-item .ab-icon { } //Admin bar icon background


/* Needs to be sorted! */
h4 { font-size: 1.3em; }

div#favorite-actions,
span.turbo-nag { display:none !important; }  

div#current-theme { background: #f1f1f1; height: 225px; padding: 10px;  }
div#current-theme img { width: 300px; height: 225px; border: none; }
a.screenshot { border: none !important; margin: 0px auto; }
.available-theme { background: #f1f1f1; }
table#availablethemes td { border: 10px solid #FFF; }
table#availablethemes { border: 0px; }

ul#adminmenu {  }

.wp-menu-separator { visibility: hidden; height: 10px !important; } /* Hides separators in admin menu */

.updated, .error, .update-message,
.postbox, .update-nag,
div#current-theme { margin: 10px 0px; box-shadow:0 4px 5px rgba(0, 0, 0, 0.25); -moz-box-shadow:0 4px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow:0 4px 5px rgba(0, 0, 0, 0.25); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }


a, #adminmenu a, #poststuff #edButtonPreview, #poststuff #edButtonHTML, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
color: #666 ;
}

#adminmenu #awaiting-mod, 
#adminmenu .update-plugins, 
#sidemenu a .update-plugins, 
#rightnow .reallynow, 
#plugin-information .action-button { background-color: #999; }

a:hover, 
#adminmenu a:hover, 
#poststuff #edButtonPreview:hover,
#poststuff #edButtonHTML:hover, 
#the-comment-list p.comment-author strong a:hover, 
#media-upload a.del-link:hover, 
#media-items a.delete:hover, 
.plugins a.delete:hover { color: #09F; }

.ui-tabs-nav a:hover,
.tablenav .tablenav-pages a:hover { color: #09F; border-color: #09F; }

ul#adminmenu li a span { /*position: relative !important; float: right; margin-right: 3px;*/ margin-left: 5px !important; }
ul#adminmenu li a span span { margin: 0px !important; }
